
.glitch {

    position: relative;

    &:hover, &:active {

        &::before {
            content: attr(data-text);
            position: absolute;
            left: -2px;
            text-shadow: -5px 0 magenta;
            overflow: hidden;
            top: 0;
            animation: noise-1 3s linear infinite alternate-reverse, 
            fudge 5s linear alternate-reverse infinite, 
        }
        
        &::after {
            content: attr(data-text);
            position: absolute;
            left: 2px;
            text-shadow: -5px 0 lightgreen;
            overflow: hidden;
            top: 0;
            animation: noise-2 3s linear infinite alternate-reverse,
            fudge 5s linear alternate-reverse infinite, 
        }
    }

}



@keyframes glitch {
    1%{
        transform: rotateX(10deg) skewX(90deg);
    }
    2%{
        transform: rotateX(0deg) skewX(0deg);
    }
}

@keyframes noise-1 {
    $steps: 30;
    @for $i from 1 through $steps {
        #{percentage($i*(1/$steps))} {
            $top: random(100);
            $bottom: random(101 - $top);
            clip-path: inset(#{$top}px 0 #{$bottom}px 0);
        }
    }
}

@keyframes noise-2 {
    $steps: 30;
    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            $top: random(100);
            $bottom: random(101 - $top);
            clip-path: inset(#{$top}px 0 #{$bottom}px 0);
        }
    }
}

@keyframes fudge {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0px, 2%);
    }
}

@keyframes glitch-2 {
    1%{
        transform: rotateX(10deg) skewX(70deg);
    }
    2%{
        transform: rotateX(0deg) skewX(0deg);
    }
}
