@import "_normalise";

html, body { }

a, link, h1, h2, h3 { 
    color: #444444;
    text-decoration: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

body{
    color: #252525;
    font-family: 'Lato', sans-serif;
}

.profile-photo {
    &:before {
        content: '';
        background: #fff;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        display: block;
    }
    background: url(../images/background.jpg) no-repeat;
    width: 320px;
    height: 481px;
    position: fixed;
    background-position: top left;
    display: block;
    bottom: 0;
    left: 50%;
    z-index: -1;
}

.outer{
    color: #252525;
    margin: 0 auto;
    max-width: 700px;
}

.header-wraper {
    padding-bottom: 1em;
    // position: sticky;
    // top: 0;
    // background: linear-gradient(180deg, white 80%, transparent);
    // padding-bottom: 4em;
    // padding-top: 0.2em;
    // z-index: 1000;
}

.container {
    // background: #ffffffcc;
    text-align: left;
    min-height: 908px;
    height: 100%;
}

.call-to-action{
    transition: all 0.3s ease;
    background: #139cbf;
    color: #fff;
    padding: 14px 0px;
    text-align: center;
    font-weight: bold;
    margin: 30px 0px;
    display: block;
    &:hover{
        background: #23aed2;
    }
    i{
        padding-left: 10px;
    }
}

.button {
    transition: all 0.3s ease;
    color: #545454;
    background: #e0e0e0c7;
    padding: 7px 12px;
    display: inline-block;
    &:hover{
        color: #b34d4d;
    }
    i {
        padding-right: 5px;
    }
}

.social-buttons{
    li {
        display: inline-block;
        margin: 0 10px 10px 0px;
    }
}

.stats{
    padding: 10px 0px;
    .stat{
        transition: opacity 0.5s ease;
        font-size: 1em;
        display: inline-block;
        width: auto;
        padding: 5px 10px;
        opacity: 0;
        font-weight: bold;
        .counter{
            font-weight: 100;
            display: block;
            font-size: 2.5em;
            margin: 10px 0px;
            color: #4e4e4e;
            i{ font-size: 16px; }
            b { color: #ff584f; }
        }
    }
}

.title {
    font-size: 40px;
    text-align: left;
    a {
        display: block;
        position: relative;
    }
    small{
        display: block;
        font-size: 16px;
        margin-top: 6px;
        i {
            margin-right: 7px;
        }
    }
}

.tags {
    display: block;
    color: #929292;
    margin: 25px 0px;
    margin-bottom: 0px;
}

.what-i-love {
    .skill-wraper {
        padding: 0.5em 0em;
        .category {
            display: block;
            margin: 1em 0em;
            color: #ff584f;
            padding-bottom: 6px;
        }
        .skill { 
            font-size: 1.1em;
            list-style: circle;
            display: inline-block;
            padding: 0.1em 0.2em;
        }
        .more {
            display: block;
            padding: 1em 0em;
            font-size: 1.3em;
            small {
                font-size: 0.6em;
                display: block;
                margin-top: 2.2em;            
            }
        }
    }
}

.speech-bubble {
    position: relative;
    background: #efefef;
    border-radius: .4em;
    height: 60px;
    width: 190px;
    top: -14px;
    left: 20px;
    padding: 11px 14px;
    font-size: 12px;
    &:after{ 
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-right-color: #efefef;
        border-left: 0;
        border-bottom: 0;
        margin-top: -10px;
        margin-left: -20px;
    }
}

.how-its-made {
    // position: sticky;
    // bottom: 0;
    // background: #fff;
    // z-index: 1000;
    // width: 100%;
    .inset{
        padding: 0.5em 0.5em 0 0.5em;
        font-size: 13px;
        font-weight: bold;
        border-top: 1px solid #f6443b;
        .button{
            margin: 0px 0px 0px 6px;
        }
    }
}

/** Other stuff **/

@import "fonts";
@import "timeline";
@import "responsive";
@import "animation";