@media only screen and (max-width: 700px) {
    body{
        overflow: scroll;
    }
    .profile-photo {
        bottom: 0;
    }
    .outer{
        max-width: 100%;
        margin-top: 30px;
        .container {
            padding: 0px 10px;
            transition: background-color 0.5s ease;
        }
    }
    .title {
        text-align: center;
    }
    .social-buttons{
        display: block;
        margin: 0 auto;
        text-align: center;
        li{
            margin: 0px;
        }
        .button{
            background: #f1f1f1;
            padding: 0.5em 0.5em;
            i{
                font-size: 30px;
            }
            .label{
                display: none;
            }
        }
    }
}